//fonts
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Playfair+Display&display=swap");

$title_font: "Playfair Display", serif;
$main_font: "Lato", sans-serif;

//font size
$title_size: 42px;
$first_letter: 110px;
$main_text_size: 18px;
$quotes_size: 60px;
$blockquote_size: 24px;

//colors
$main_color: #ffffff;
$text_color: #171717;
$button_color: #eaa258;
