@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

html,
body {
  font-size: 100%;
  min-height: 100vh; }

.header {
  width: 100%;
  height: 100vh;
  padding: 3rem 2rem;
  background-image: url(../img/img_1.png);
  background-position: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center; }
  .header__scroll-title {
    align-self: center;
    margin-bottom: 10px;
    visibility: hidden;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    color: #ff6033; }
  .header__link {
    align-self: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center; }
    .header__link:hover .header__scroll-title {
      visibility: visible; }

.navigation {
  width: 100%;
  max-width: 1300px; }
  @media screen and (min-width: 578px) {
    .navigation {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center; } }
  @media screen and (min-width: 768px) {
    .navigation {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center; } }
  @media screen and (min-width: 1024px) {
    .navigation {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      padding: 1rem; } }
  .navigation__logo a {
    font-family: "Pacifico", cursive;
    font-size: 3.125rem;
    color: #262626;
    text-decoration: none; }
  .navigation__list {
    list-style: none;
    display: inline-flex;
    width: 557px;
    flex-direction: row;
    justify-content: space-between; }
    @media screen and (min-width: 578px) {
      .navigation__list {
        visibility: hidden; } }
    @media screen and (min-width: 768px) {
      .navigation__list {
        visibility: visible; } }
    @media screen and (min-width: 1024px) {
      .navigation__list {
        visibility: visible; } }
  .navigation__items {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center; }
    .navigation__items a {
      font-family: "Raleway", sans-serif;
      font-size: 1rem;
      color: #262626;
      text-decoration: none;
      font-weight: 700;
      text-transform: uppercase; }
    .navigation__items:hover {
      border-top: 2px solid #ff6033; }
    .navigation__items:hover a {
      color: #9d9d9d; }
  @media screen and (min-width: 578px) {
    .navigation__burger {
      width: 30px;
      height: 30px;
      position: relative;
      border-top: 2px solid #262626;
      border-bottom: 2px solid #262626; }
      .navigation__burger::after {
        content: "";
        position: absolute;
        top: 8px;
        left: 0.9px;
        height: 3px;
        width: 29px;
        background-color: #262626; } }
  @media screen and (min-width: 768px) {
    .navigation__burger {
      display: none; } }
  @media screen and (min-width: 1024px) {
    .navigation__burger {
      display: none; } }

.content {
  width: 100%;
  max-width: 1300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media screen and (min-width: 578px) {
    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      align-content: flex-start; } }
  @media screen and (min-width: 768px) {
    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      align-content: flex-start; } }
  @media screen and (min-width: 1024px) {
    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      align-content: flex-start; } }
  .content__title {
    font-family: "Raleway", sans-serif;
    font-size: 3.75rem;
    color: #262626;
    width: 287px;
    margin-bottom: 34px; }
  .content__text {
    font-family: "Raleway", sans-serif;
    font-size: 1.0625rem;
    color: #262626;
    line-height: 1.6875rem;
    width: 368px;
    text-align: justify;
    margin-bottom: 31px; }
  .content__link {
    display: inline-flex;
    width: 200px;
    height: 55px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: #ff6033;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 1.25rem;
    color: #ffffff;
    text-transform: uppercase; }
    .content__link:hover {
      color: #ff6033;
      font-weight: 400;
      background-color: #ffffff;
      border: 2px solid #ff6033;
      transform: scale(1.1);
      transition: all 0.5s ease; }

.about-us {
  width: 100%;
  background-color: #00c4c4;
  padding: 71px 2rem 70px;
  display: flex;
  justify-content: center; }
  .about-us__container {
    width: 100%;
    max-width: 1300px; }
    @media screen and (min-width: 578px) {
      .about-us__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center; } }
    @media screen and (min-width: 768px) {
      .about-us__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: center; } }
    @media screen and (min-width: 1024px) {
      .about-us__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: center; } }
  .about-us__img-wrap {
    flex-basis: 566px;
    position: relative;
    padding-bottom: 46.6%; }
    @media screen and (min-width: 578px) {
      .about-us__img-wrap {
        flex-basis: 300px;
        width: 300px; } }
    @media screen and (min-width: 768px) {
      .about-us__img-wrap {
        flex-basis: 400px;
        position: relative;
        padding-bottom: 46.6%; } }
    @media screen and (min-width: 1024px) {
      .about-us__img-wrap {
        flex-basis: 566px;
        position: relative;
        padding-bottom: 46.6%; } }
    .about-us__img-wrap img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      object-fit: contain; }
  @media screen and (min-width: 578px) {
    .about-us__content {
      flex-basis: 300px;
      display: flex;
      flex-direction: column; } }
  @media screen and (min-width: 768px) {
    .about-us__content {
      flex-basis: 400px;
      display: flex;
      flex-direction: column; } }
  @media screen and (min-width: 1024px) {
    .about-us__content {
      flex-basis: 500px;
      display: flex;
      flex-direction: column; } }
  .about-us__title {
    font-family: "Raleway", sans-serif;
    font-size: 5.625rem;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 34px; }
    @media screen and (min-width: 578px) {
      .about-us__title {
        text-align: center;
        font-size: 4.725rem; } }
    @media screen and (min-width: 768px) {
      .about-us__title {
        font-size: 4.725rem; } }
  .about-us__text {
    font-family: "Raleway", sans-serif;
    font-size: 1.0625rem;
    color: #ffffff;
    line-height: 27px;
    margin-bottom: 15px; }
    .about-us__text:last-of-type {
      margin-bottom: 0; }

.services {
  width: 100%;
  padding: 71px 2rem 70px;
  background-image: url(../img/services_bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center; }
  .services__container {
    width: 100%;
    max-width: 1300px;
    display: flex; }
    @media screen and (min-width: 578px) {
      .services__container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        align-content: center; } }
    @media screen and (min-width: 768px) {
      .services__container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center; } }
    @media screen and (min-width: 1024px) {
      .services__container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center; } }
  .services__title {
    font-family: "Raleway", sans-serif;
    font-size: 5.625rem;
    color: #ffffff;
    font-weight: 700; }
    @media screen and (min-width: 578px) {
      .services__title {
        font-size: 4rem;
        margin-bottom: 3rem; } }
    @media screen and (min-width: 768px) {
      .services__title {
        flex-basis: 365px;
        font-size: 3.8752rem; } }
    @media screen and (min-width: 1024px) {
      .services__title {
        flex-basis: 544px;
        font-size: 5.625rem; } }
  .services__list {
    list-style: none; }
    @media screen and (min-width: 578px) {
      .services__list {
        width: 400px; } }
    @media screen and (min-width: 768px) {
      .services__list {
        flex-basis: 300px;
        margin-right: 50px; } }
    @media screen and (min-width: 1024px) {
      .services__list {
        flex-basis: 430px;
        margin-right: 100px; } }
  .services__item {
    display: inline-flex;
    width: 400px;
    height: 100px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    margin-bottom: 20px; }
    .services__item:hover {
      transform: scale(1.1);
      transition: all 0.8s ease; }
    .services__item:hover a > :nth-child(2) > svg {
      fill: #ff6033; }
    .services__item a {
      display: inline-flex;
      width: 400px;
      text-decoration: none; }
    .services__item a > :nth-child(1) {
      flex-basis: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      font-family: "Raleway", sans-serif;
      font-size: 1.25rem;
      color: #262626;
      text-align: center;
      font-weight: 700; }
    .services__item a > :nth-child(2) {
      flex-basis: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      border-left: 1px solid #9d9d9d; }
    .services__item a > :nth-child(2) > svg {
      fill: #000000; }
    .services__item:last-of-type {
      margin-bottom: 0; }

.gallery {
  width: 100%;
  padding: 100px 2rem 120px;
  background-color: #ffe92f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center; }
  .gallery__title {
    font-family: "Raleway", sans-serif;
    font-size: 5.625rem;
    color: #262626;
    margin-bottom: 28px; }
  .gallery__text {
    width: 577px;
    font-family: "Raleway", sans-serif;
    font-size: 1.0625rem;
    color: #262626;
    text-align: center;
    margin-bottom: 46px; }
  .gallery__grid-container {
    max-width: 1300px;
    display: grid; }
    @media screen and (min-width: 578px) {
      .gallery__grid-container {
        width: 531px;
        height: 589px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(11, 1fr);
        grid-column-gap: 9px;
        grid-row-gap: 10px;
        margin-bottom: 2rem; } }
    @media screen and (min-width: 768px) {
      .gallery__grid-container {
        width: 700px;
        height: 589px;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(7, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px; } }
    @media screen and (min-width: 1024px) {
      .gallery__grid-container {
        width: 938px;
        height: 780px;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(7, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px; } }
  .gallery__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-decoration: none;
    width: 200px;
    height: 55px;
    background-color: #5585a2;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-size: 1.25rem;
    text-transform: uppercase; }
    .gallery__link:hover {
      color: #5585a2;
      background-color: #ffffff;
      border: 2px solid #5585a2;
      transition: all 0.5s ease;
      transform: scale(1.1); }

.grid-container__first {
  position: relative; }
  @media screen and (min-width: 578px) {
    .grid-container__first {
      grid-area: 1 / 1 / 6 / 5; } }
  @media screen and (min-width: 768px) {
    .grid-container__first {
      grid-area: 1 / 1 / 5 / 5; } }
  @media screen and (min-width: 1024px) {
    .grid-container__first {
      grid-area: 1 / 1 / 5 / 5; } }
  .grid-container__first img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover; }
.grid-container__second {
  position: relative; }
  @media screen and (min-width: 578px) {
    .grid-container__second {
      grid-area: 6 / 1 / 9 / 3; } }
  @media screen and (min-width: 768px) {
    .grid-container__second {
      grid-area: 1 / 5 / 3 / 7; } }
  @media screen and (min-width: 1024px) {
    .grid-container__second {
      grid-area: 1 / 5 / 3 / 7; } }
  .grid-container__second img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover; }
.grid-container__third {
  position: relative; }
  @media screen and (min-width: 578px) {
    .grid-container__third {
      grid-area: 6 / 3 / 9 / 5; } }
  @media screen and (min-width: 768px) {
    .grid-container__third {
      grid-area: 3 / 5 / 5 / 7; } }
  @media screen and (min-width: 1024px) {
    .grid-container__third {
      grid-area: 3 / 5 / 5 / 7; } }
  .grid-container__third img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover; }
.grid-container__fourth {
  position: relative; }
  @media screen and (min-width: 578px) {
    .grid-container__fourth {
      grid-area: 9 / 1 / 12 / 3; } }
  @media screen and (min-width: 768px) {
    .grid-container__fourth {
      grid-area: 5 / 1 / 8 / 4; } }
  @media screen and (min-width: 1024px) {
    .grid-container__fourth {
      grid-area: 5 / 1 / 8 / 4; } }
  .grid-container__fourth img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover; }
.grid-container__fifth {
  position: relative; }
  @media screen and (min-width: 578px) {
    .grid-container__fifth {
      grid-area: 9 / 3 / 12 / 5; } }
  @media screen and (min-width: 768px) {
    .grid-container__fifth {
      grid-area: 5 / 4 / 8 / 7; } }
  @media screen and (min-width: 1024px) {
    .grid-container__fifth {
      grid-area: 5 / 4 / 8 / 7; } }
  .grid-container__fifth img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover; }

.subscribe {
  width: 100%;
  padding: 145px 2rem 163px;
  background-image: url(../img/img_4.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center; }
  .subscribe__container {
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-direction: column; }
  .subscribe__title {
    font-family: "Raleway", sans-serif;
    font-size: 2.5rem;
    color: #262626;
    font-weight: 700;
    margin-bottom: 34px; }
  .subscribe__text {
    width: 541px;
    font-family: "Raleway", sans-serif;
    font-size: 1.0625rem;
    color: #262626;
    text-align: left;
    line-height: 1.6875rem;
    margin-bottom: 31px; }
  @media screen and (min-width: 578px) {
    .subscribe__form {
      display: flex;
      flex-direction: column; } }
  @media screen and (min-width: 768px) {
    .subscribe__form {
      display: flex;
      flex-direction: row; } }
  @media screen and (min-width: 1024px) {
    .subscribe__form {
      display: flex;
      flex-direction: row; } }
  .subscribe__input {
    height: 55px;
    border: 1px solid #262626;
    margin-right: 30px;
    padding-left: 15px;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    color: #262626; }
    @media screen and (min-width: 578px) {
      .subscribe__input {
        margin-bottom: 30px;
        width: 521px; } }
    @media screen and (min-width: 768px) {
      .subscribe__input {
        width: 570px; } }
    @media screen and (min-width: 1024px) {
      .subscribe__input {
        width: 570px; } }
    .subscribe__input::placeholder {
      font-family: "Raleway", sans-serif;
      font-size: 0.9375rem;
      color: #262626;
      opacity: 0.5; }
  .subscribe__btn {
    display: inline-flex;
    width: 170px;
    height: 55px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: #96b92c;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 1px solid #96b92c;
    font-family: "Raleway", sans-serif;
    font-size: 1.25rem;
    color: #ffffff;
    text-transform: uppercase; }
    .subscribe__btn:hover {
      cursor: pointer;
      color: #96b92c;
      background-color: #ffffff;
      border: 2px solid #96b92c;
      transform: scale(1.1);
      transition: all 0.5s ease; }

.blog {
  width: 100%;
  background-color: #b07cf7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 3rem 2rem; }
  .blog__title {
    font-family: "Raleway", sans-serif;
    color: #ffffff;
    font-size: 5.625rem;
    font-weight: 700;
    margin-bottom: 1.5rem; }
  .blog__text {
    width: 563px;
    font-family: "Raleway", sans-serif;
    color: #ffffff;
    font-size: 1.0625rem;
    font-weight: 300;
    text-align: justify;
    margin-bottom: 1.5rem;
    text-align: center; }
  .blog__container {
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 50px;
    gap: 30px; }
  .blog__items {
    flex-basis: 370px;
    position: relative; }
    .blog__items::after {
      content: "";
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.1));
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%; }
    .blog__items:nth-child(3) {
      margin-right: 0; }
    .blog__items img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      object-fit: cover; }
  .blog__img-wrap {
    position: relative;
    width: 370px;
    padding-bottom: 84%; }
  .blog__content {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    padding: 30px 43px 23px 30px; }
    .blog__content > div:nth-child(1) {
      width: 60px;
      height: 60px;
      background-color: rgba(38, 38, 38, 0.5);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      padding-bottom: 8px;
      border-radius: 5px;
      margin-bottom: 119px; }
      .blog__content > div:nth-child(1) > span:nth-child(1) {
        color: #ffffff;
        font-family: "Raleway", sans-serif;
        font-size: 2rem;
        font-weight: 700; }
      .blog__content > div:nth-child(1) > span:nth-child(2) {
        color: #ffffff;
        font-family: "Raleway", sans-serif;
        font-size: 1.3125rem;
        font-weight: 700;
        text-transform: uppercase; }
    .blog__content > div:nth-child(2) h4 {
      color: #ffffff;
      font-family: "Raleway", sans-serif;
      font-size: 1.25rem;
      font-weight: 700;
      margin-bottom: 1rem; }
    .blog__content > div:nth-child(2) p {
      color: #ffffff;
      font-family: "Raleway", sans-serif;
      font-size: 0.8125rem; }
  .blog__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-decoration: none;
    width: 200px;
    height: 55px;
    background-color: #f72b3b;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border: none;
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-size: 1.25rem;
    font-weight: 300;
    text-transform: uppercase; }
    .blog__link:hover {
      color: #f72b3b;
      border: 2px solid #f72b3b;
      background-color: #ffffff;
      transform: scale(1.1);
      transition: all 0.5s ease; }

.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-image: url(../img/img_5.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 110px 2rem 120px; }
  .contact__title {
    color: #262626;
    font-family: "Raleway", sans-serif;
    font-size: 5.625rem;
    font-weight: 700;
    margin-bottom: 48px; }
  .contact__text {
    color: #262626;
    font-family: "Raleway", sans-serif;
    font-size: 1.0625rem;
    margin-bottom: 46px; }
  .contact__container {
    width: 100%;
    max-width: 1300px;
    flex-basis: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 60px; }
  .contact__formWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center; }
    .contact__formWrap input {
      width: 500px;
      height: 50px;
      margin-bottom: 15px;
      background-color: rgba(0, 196, 196, 0.5);
      border: none;
      outline: none;
      padding-left: 15px;
      color: #ffffff;
      font-family: "Raleway", sans-serif;
      font-size: 0.9375rem; }
      .contact__formWrap input:focus {
        border-left: 3px solid #355b82;
        border-top: none;
        border-bottom: none;
        border-right: none;
        background-color: #00c4c4; }
      .contact__formWrap input::placeholder {
        color: #ffffff; }
    .contact__formWrap textarea {
      width: 500px;
      background-color: rgba(0, 196, 196, 0.5);
      border: none;
      outline: none;
      padding-left: 15px;
      padding-top: 10px;
      color: #ffffff;
      font-family: "Raleway", sans-serif;
      font-size: 0.9375rem;
      margin-bottom: 15px; }
      .contact__formWrap textarea:focus {
        border-left: 3px solid #355b82;
        border-top: none;
        border-bottom: none;
        border-right: none;
        background-color: #00c4c4; }
      .contact__formWrap textarea::placeholder {
        color: #ffffff; }
  .contact__submit {
    display: inline-flex;
    width: 170px;
    height: 55px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 196, 196, 0.5);
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 1px solid rgba(0, 196, 196, 0.5);
    font-family: "Raleway", sans-serif;
    font-size: 1.25rem;
    color: #ffffff;
    text-transform: uppercase; }
    .contact__submit:hover {
      cursor: pointer;
      background-color: #00c4c4;
      border: 2px solid #00c4c4;
      transform: scale(1.1);
      transition: all 0.5s ease; }
  .contact__list {
    flex-basis: 300px; }
    @media screen and (max-width: 923px) {
      .contact__list {
        flex-basis: 319px; } }
  .contact__itemsTitle {
    font-family: "Raleway", sans-serif;
    font-size: 1.0625rem;
    color: #262626;
    font-weight: 700;
    text-transform: uppercase; }
    @media screen and (max-width: 923px) {
      .contact__itemsTitle {
        text-align: center; } }
  .contact__itemsDescription {
    font-family: "Raleway", sans-serif;
    font-size: 1.25rem;
    margin-bottom: 1rem; }
    .contact__itemsDescription:nth-child(3) {
      margin-bottom: 0; }

.footer {
  width: 100%;
  height: 90px;
  background-color: #262626;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center; }
  .footer__container {
    width: 100%;
    max-width: 1300px; }
    @media screen and (min-width: 578px) {
      .footer__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center; } }
    @media screen and (min-width: 768px) {
      .footer__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: center; } }
    @media screen and (min-width: 1024px) {
      .footer__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: center; } }
  .footer__caption {
    font-family: "Raleway", sans-serif;
    color: #ffffff;
    font-size: 1rem; }
  .footer__logo {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5625rem;
    color: #ffffff;
    font-style: italic; }
  .footer__text {
    font-family: "Raleway", sans-serif;
    color: #ffffff;
    font-size: 0.9375rem; }
    .footer__text span {
      color: #ff2b58; }
