@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway:wght@400;500&family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  font-size: 100%;
  min-height: 100vh; }

.main {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center; }

.our-team {
  width: 1154px;
  height: 836px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center; }
  .our-team__text {
    font-family: "Raleway", sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    color: #898f8f;
    line-height: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 1.125rem; }
  .our-team__title {
    font-family: "Roboto", sans-serif;
    font-size: 3.75rem;
    color: #ffcc00;
    font-weight: 600;
    line-height: 4.125rem;
    text-transform: uppercase;
    margin-bottom: 2.8125rem; }
  .our-team__icon {
    position: relative;
    margin-bottom: 2.4375rem; }
    .our-team__icon::before {
      position: absolute;
      content: "";
      width: 13.125rem;
      height: 0.125rem;
      background-color: #ffcc00;
      top: 8px;
      left: -220px; }
    .our-team__icon::after {
      position: absolute;
      content: "";
      width: 13.125rem;
      height: 0.125rem;
      background-color: #ffcc00;
      top: 8px;
      right: -220px; }
  .our-team__bottom-list {
    list-style: none;
    display: inline-flex;
    width: 40px;
    height: 80px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center; }
  .our-team__items a {
    text-decoration: none;
    display: inline-flex;
    width: 10px;
    height: 10px;
    border: 1px solid #ffcc00;
    border-radius: 50%; }
    .our-team__items a:link {
      border: 1px solid #ffcc00;
      background-color: #ffcc00; }
    .our-team__items a:hover, .our-team__items a:active {
      border: 1px solid #ffcc00;
      background-color: #ffffff; }

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative; }
  .container__link svg {
    width: 32px;
    height: 32px;
    fill: #ffcc00; }
  .container__link:hover svg {
    transform: scale(1.2);
    fill: #333333; }
  .container__left-col {
    display: inline-flex;
    width: 577px;
    height: 563px; }
  .container__right-col {
    display: inline-flex;
    width: 577px;
    height: 563px; }

.left-col {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative; }
  .left-col::before {
    position: absolute;
    content: "";
    width: 100px;
    height: 100px;
    border-bottom: 2px solid #ffcc00;
    border-left: 2px solid #ffcc00;
    top: 388px;
    left: 77px; }
  .left-col::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 100px;
    border-bottom: 2px solid #ffcc00;
    border-right: 2px solid #ffcc00;
    top: 388px;
    right: 77px; }
  .left-col__img-wrap {
    position: relative;
    width: 388px;
    padding-bottom: 66%;
    border: 2px solid #ffcc00; }
    .left-col__img-wrap::before {
      position: absolute;
      content: "";
      height: 100px;
      width: 100px;
      border-top: 2px solid #ffcc00;
      border-left: 2px solid #ffcc00;
      top: -20px;
      left: -20px; }
    .left-col__img-wrap::after {
      position: absolute;
      content: "";
      height: 100px;
      width: 100px;
      border-top: 2px solid #ffcc00;
      border-right: 2px solid #ffcc00;
      top: -20px;
      right: -20px; }
    .left-col__img-wrap img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      object-fit: cover; }

.right-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative; }
  .right-col::after {
    position: absolute;
    content: "";
    height: 560px;
    width: 2px;
    background-color: #ffcc00;
    top: 0;
    left: 0; }
  .right-col__title {
    font-family: "Roboto", sans-serif;
    font-size: 2.25rem;
    color: #666666;
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: 0.72px;
    margin-bottom: 68px;
    position: relative; }
    .right-col__title::after {
      position: absolute;
      content: "";
      width: 100px;
      height: 2px;
      background-color: #ffcc00;
      top: 62px;
      left: 68px; }
  .right-col__sub-text {
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
    color: #666666;
    line-height: 2.25rem;
    font-weight: 400;
    margin-bottom: 29px;
    position: relative; }
    .right-col__sub-text::after {
      position: absolute;
      content: "";
      width: 10px;
      height: 4px;
      background-color: #ffcc00;
      top: 280px;
      left: 132px; }
  .right-col__list {
    list-style: none;
    display: inline-flex;
    width: 150px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center; }
  .right-col__items {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 30px;
    height: 30px;
    border: 2px solid #cccccc;
    border-radius: 50%;
    margin-bottom: 41px; }
    .right-col__items i {
      color: #cccccc; }
    .right-col__items:hover {
      transform: scale(1.2); }
    .right-col__items:hover i {
      color: #ffcc00; }
  .right-col__text {
    width: 416px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 0.875rem;
    color: #333333;
    font-weight: 500;
    line-height: 1.5rem;
    margin-bottom: 52px;
    position: relative; }
    .right-col__text::after {
      position: absolute;
      content: "";
      width: 20px;
      height: 4px;
      background-color: #ffcc00;
      top: 144px;
      left: 196px; }
    .right-col__text::before {
      position: absolute;
      content: "";
      width: 10px;
      height: 4px;
      background-color: #ffcc00;
      top: 144px;
      left: 174px; }
  .right-col__link {
    display: inline-flex;
    width: 120px;
    height: 24px;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 1px solid #ffcc00;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    font-size: 0.875rem;
    color: #666666;
    text-transform: uppercase; }
    .right-col__link:hover {
      color: #ffcc00;
      background-color: #666666;
      border: 1px solid #666666; }
