@font-face {
  font-family: "Miso";
  src: url(../fonts/miso-bold.ttf);
}
@font-face {
  font-family: "Miso-light";
  src: url(../fonts/miso-light.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-color: #fdde7e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  width: 1200px;
  height: 600px;
  padding: 80px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.card {
  background-color: #ffffff;
  max-width: 361px;
  width: 100%;
  min-height: 441px;
  padding: 27px 0 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  border-radius: 3px;
  box-shadow: 0 31px 30px rgba(0, 0, 0, 0.34);
}
.card .price {
  font-family: Miso;
  font-size: 70px;
  color: #02995b;
}

.card img {
  padding-left: 13px;
  padding-bottom: 13px;
  min-width: 140px;
  min-height: 134px;
}

.card h2 {
  font-family: "Miso-light";
  font-size: 56px;
  letter-spacing: 0.3px;
}
.card p {
  text-align: center;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.5px;
  font-size: 21px;
  line-height: 26px;
}

.card:hover {
  height: 500px;
  padding: 37px 0 55px;
}
.card:hover img {
  flex-grow: 0.3;
}
