@font-face {
  font-family: "Miso";
  src: url(../fonts/miso-bold.ttf);
}
@font-face {
  font-family: "Miso-light";
  src: url(../fonts/miso-light.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
body {
  background-color: #fdde7e;
  display: flex;
  /* justify-content: center; */
}
.main {
  width: 1200px;
  height: 600px;
  padding: 80px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.card {
  background-color: #ffffff;
  width: 360px;
  min-height: 441px;
  display: flex;
  flex-direction: column;

  align-items: center;
  align-content: center;

  box-shadow: 0 31px 30px rgba(0, 0, 0, 0.34);
}
.card h1 {
  font-family: Miso;
  font-size: 70px;
  color: #02995b;
  padding-top: 27px;
  margin-bottom: 13px;
  letter-spacing: -1.25px;
}
.card img {
  padding-left: 10px;
  margin-bottom: 22px;
  min-width: 140px;
  height: 134px;
}

.card h2 {
  font-family: "Miso-light";
  margin-bottom: 17px;
  font-size: 56px;
  letter-spacing: 0.09px;
}
.card p {
  text-align: center;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.5px;
  font-size: 21px;
}

.card:hover {
  min-height: 500px;
  transition: all 0.4s ease;
}
.card:hover h1 {
  padding-top: 38px;
  margin-bottom: 30px;
}
.card:hover img {
  height: 134px;
  margin-bottom: 34px;
}
