* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
body {
  background-color: #fdde7e;
}
.main {
  padding: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card {
  background-color: #ffffff;
  width: 360px;
  height: 441px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card h1 {
  font-family: "Baloo Tamma 2", cursive;
  font-size: 50px;
  color: #02995b;
}
.card > img {
  padding: 20px;
}
.card .orange {
  width: 135px;
  height: 77px;
  background-image: url(../img/cup_1.png);
  background-repeat: no-repeat;
}
.card .yellow {
  width: 135px;
  height: 77px;
  background-image: url(../img/cup_2.png);
  background-repeat: no-repeat;
}
.card .gray {
  width: 135px;
  height: 77px;
  background-image: url(../img/cup_3.png);
  background-repeat: no-repeat;
}
.orange,
.yellow,
.gray {
  margin-bottom: 25px;
}
.card div img {
  padding: 15px 57px 17px 42px;
  opacity: 0.3;
}
.card h2 {
  font-family: "Lato", sans-serif;
  margin-bottom: 20px;
}
.card p {
  width: 135px;
  text-align: center;
  font-family: "Lato", sans-serif;
}

.second {
  height: 500px;
  align-self: stretch;
}
