$style: "header";

.#{$style} {
    width: 100%;
    height: 100vh;
    background-image: url(../img/header_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;

    position: relative;

    &__title {
        color: #ffffff;
        font-family: $firstFont;
        font-size: $hederTitle;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.3rem;
        margin-bottom: 0.9375rem;
    }

    &__text {
        color: #ffffff;
        font-family: $firstFont;
        font-size: $hederSubTitle;
        font-weight: 400;
        letter-spacing: 0.4262rem;
        margin-bottom: 3.125rem;
    }

    &__form {
        width: 650px;
        height: 3.75rem;
        display: flex;
        flex-direction: row;
        border: 2px solid #ffffff;

        margin-bottom: 7.5rem;

        &-input {
            height: 3.55rem;
            font-family: $firstFont;
            font-size: $hederInput;
            font-weight: 400;
            letter-spacing: 0.175rem;
            color: #000000;
            flex-grow: 2;
            padding-left: 1.5rem;
            border: none;

            &::placeholder {
                text-align: center;
                color: #999999;
            }

            &:focus {
                outline: none;
            }
        }

        &-button {
            background-color: #5474fd;
            border: none;
            width: 150px;
            font-family: $secondFont;
            font-size: $hederBtn;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 0.0875rem;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 0 1rem 0 2rem;

            &-text {
                color: #ffffff;
            }

            &-svg {
                fill: #ffffff;
            }

            &:hover {
                cursor: pointer;
                background-color: blue;
            }
        }
    }

    &__link {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        scroll-behavior: smooth;
        font-family: $firstFont;
        font-size: $hederScroll;
        font-weight: 400;
        letter-spacing: 0.175rem;

        &:hover .header__scroll {
            color: blue;
        }

        &:hover .header__arrow {
            fill: blue;
        }

        &:hover .header__scroll {
            animation: bounce 1s;
        }
    }

    &__scroll {
        color: #ffffff;
    }

    &__arrow {
        fill: #ffffff;
    }
}