$style: "nav";

.#{$style} {
    width: 100%;
    padding: 0 1.5rem;
    height: 80px;
    background-color: #5474fd;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;

    &__container {
        width: 100%;
        max-width: 1124px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        & a {
            color: #ffffff;
            text-decoration: none;
            font-family: $firstFont;
            font-size: $hederLogo;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.15rem;
        }
    }

    &__list {
        width: 560px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
    }

    &__items {
        text-decoration: none;
        color: #ffffff;
        font-family: $secondFont;
        font-size: $hederNav;
        font-weight: 400;
        text-transform: uppercase;
        padding: 4.4% 2.6% 3.4%;

        &:hover {
            background-color: blue;
        }
    }
}