@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@400;700&family=Josefin+Sans:wght@400;700&display=swap');

$firstFont: 'Josefin Sans',
sans-serif;

$secondFont: 'Aleo',
serif;


$hederTitle: 3rem;
$hederSubTitle: 1.375rem;
$hederInput: 0.875rem;
$hederBtn: 0.875rem;
$hederScroll: 0.875rem;
$hederLogo: 1.5rem;
$hederNav: 0.875rem;