$style: "blog";
.#{$style} {
  width: 100%;
  background-color: $color14;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 3rem;
  &__title {
    font-family: $main_font;
    color: $color1;
    font-size: 5.625rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }
  &__text {
    width: 563px;
    font-family: $main_font;
    color: $color1;
    font-size: 1.0625rem;
    font-weight: 300;
    text-align: justify;
    margin-bottom: 1.5rem;
  }
  &__container {
    height: 310px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    margin-bottom: 2rem;
  }
  &__items {
    &-first {
      grid-area: 1 / 1 / 2 / 2;
      background-image: url(../img/img_blog1.png);
      padding: 1rem 0 0 1rem;
      & > div:nth-child(1) {
        width: 60px;
        height: 60px;
        background-color: rgba(38, 38, 38, 0.5);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        & span:nth-child(1) {
          color: $color1;
          font-family: $main_font;
          font-size: 2rem;
          font-weight: 700;
        }
        & span:nth-child(2) {
          color: $color1;
          font-family: $main_font;
          font-size: 1.3125rem;
          font-weight: 700;
        }
      }
    }
    &-second {
      grid-area: 1 / 2 / 2 / 3;
      background-image: url(../img/img_blog2.png);
      padding: 1rem 0 0 1rem;
      & > div:nth-child(1) {
        width: 60px;
        height: 60px;
        background-color: rgba(38, 38, 38, 0.5);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        & span:nth-child(1) {
          color: $color1;
          font-family: $main_font;
          font-size: 2rem;
          font-weight: 700;
        }
        & span:nth-child(2) {
          color: $color1;
          font-family: $main_font;
          font-size: 1.3125rem;
          font-weight: 700;
        }
      }
    }
    &-third {
      grid-area: 1 / 3 / 2 / 4;
      background-image: url(../img/img_blog3.png);
      padding: 1rem 0 0 1rem;
      & > div:nth-child(1) {
        width: 60px;
        height: 60px;
        background-color: rgba(38, 38, 38, 0.5);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        & span:nth-child(1) {
          color: $color1;
          font-family: $main_font;
          font-size: 2rem;
          font-weight: 700;
        }
        & span:nth-child(2) {
          color: $color1;
          font-family: $main_font;
          font-size: 1.3125rem;
          font-weight: 700;
        }
      }
    }
  }
  &__button {
    width: 200px;
    height: 55px;
    background-color: $color8;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border: none;
    color: $color1;
    font-family: $main_font;
    font-size: 1.25rem;
    font-weight: 300;
    text-transform: uppercase;
  }
}
