$style: "footer";

.#{$style} {
    width: 100%;
    height: 90px;
    background-color: $color2;
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    &__container {
        width: 100%;
        max-width: 1300px;

        @media screen and (min-width: 578px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
        }

        @media screen and (min-width: 768px) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            align-content: center;
        }

        @media screen and (min-width: 1024px) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            align-content: center;
        }
    }

    &__caption {
        font-family: $main_font;
        color: $color1;
        font-size: 1rem;

    }

    &__logo {
        font-family: 'Courier New', Courier, monospace;
        font-size: 1.5625rem;
        color: $color1;
        font-style: italic;
    }

    &__text {
        font-family: $main_font;
        color: $color1;
        font-size: 0.9375rem;

        & span {
            color: #ff2b58;
        }
    }
}