$style: "header";
.#{$style} {
  width: 100%;
  height: 100%;
  background-image: url(../img/img_1.png);
  background-position: 100%;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  padding: 0.6592rem 2.7703rem 1.1656rem;
  @media screen and (min-width: 576px) {
    padding: 0.6592rem 2.7703rem 1.1656rem;
  }
  @media screen and (min-width: 768px) {
    padding: 0.8768rem 3.6848rem 1.5503rem;
  }
  @media screen and (min-width: 992px) {
    padding: 1.1312rem 4.7535rem 2rem;
  }
  @media screen and (min-width: 1200px) {
    padding: 1.6695rem 5.7043rem 2.4rem;
  }
  @media screen and (min-width: 1500px) {
    padding: 2.0869rem 7.1304rem 3rem;
  }
  &__navigation {
    @media screen and (max-width: 576px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 4.3586rem;
    }
    @media screen and (max-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5.797rem;
    }
    @media screen and (max-width: 992px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 7.4782rem;
    }
    @media screen and (max-width: 1200px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 8.9738rem;
    }
    @media screen and (max-width: 1500px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 11.2173rem;
    }
  }
  &__logo {
    width: 5.5217rem;
    height: 2.2608rem;
    position: relative;
    padding: 2%;
    @media screen and (max-width: 576px) {
      margin-bottom: 1rem;
    }
    & img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__list {
    display: flex;
    list-style: none;
  }
  &__items {
    &-link {
      font-family: $main_font;
      font-weight: 700;
      font-size: 0.6956rem;
      text-transform: uppercase;
      text-decoration: none;
      color: $color2;
      &:hover {
        color: $color4;
        border-top: 2px solid red;
      }
    }
    &--margin {
      margin-right: 1.2652rem;
    }
  }

  &__title {
    font-family: $main_font;
    color: $color2;
    font-size: 2.6086rem;
    font-weight: 700;
    margin-bottom: 1.4782rem;
  }

  &__text {
    font-family: $main_font;
    color: $color2;
    font-size: 0.7391rem;
    font-weight: 300;
    width: 16rem;
    text-align: justify;
    margin-bottom: 1.3478rem;
    @media screen and (max-width: 576px) {
      font-weight: 700;
    }
  }
  &__button {
    width: 8.6956rem;
    height: 2.3913rem;
    background-color: $color7;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    font-family: $main_font;
    font-size: 0.8995rem;
    font-weight: 300;
    text-transform: uppercase;
    color: $color1;
    border: none;
    margin-bottom: 5rem;
    @media screen and (min-width: 576px) {
      margin-bottom: 5.3216rem;
    }
    @media screen and (min-width: 768px) {
      margin-bottom: 7.0778rem;
    }
    @media screen and (min-width: 992px) {
      margin-bottom: 9.1304rem;
    }
    @media screen and (min-width: 1200px) {
      margin-bottom: 10.9564rem;
    }
    @media screen and (min-width: 1500px) {
      margin-bottom: 13.6956rem;
    }
  }
  &__scroll {
    align-self: center;
    &-item {
      width: 1.4434rem;
      height: 1.7391rem;
      &:hover {
        fill: $color7;
      }
    }
  }
}
