$style: "services";

.#{$style} {
    width: 100%;
    padding: 71px 2rem 70px;
    background-image: url(../img/services_bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    &__container {
        width: 100%;
        max-width: 1300px;
        display: flex;

        @media screen and (max-width: 767px) {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            align-content: center;
        }

        @media screen and (min-width: 768px) {
            flex-direction: row;
            justify-content: center;
            align-items: center;
            align-content: center;
        }

        @media screen and (min-width: 1024px) {
            flex-direction: row;
            justify-content: center;
            align-items: center;
            align-content: center;
        }
    }

    &__title {
        font-family: $main_font;
        font-size: 5.625rem;
        color: $color1;
        font-weight: 700;

        @media screen and (max-width: 767px) {
            font-size: 4rem;
            margin-bottom: 3rem;
        }

        @media screen and (min-width: 768px) {
            flex-basis: 365px;
            font-size: 3.8752rem;
        }

        @media screen and (min-width: 1024px) {
            flex-basis: 544px;
            font-size: 5.625rem;
        }
    }

    &__list {
        list-style: none;

        @media screen and (max-width: 767px) {
            width: 400px;
        }

        @media screen and (min-width: 768px) {
            flex-basis: 300px;
            margin-right: 50px;
        }

        @media screen and (min-width: 1024px) {
            flex-basis: 430px;
            margin-right: 100px;
        }
    }

    &__item {
        display: inline-flex;
        width: 400px;
        height: 100px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
        background-color: $color1;
        margin-bottom: 20px;

        &:hover {
            transform: scale(1.1);
            transition: all 0.8s ease;
        }

        &:hover a> :nth-child(2)>svg {
            fill: $color7;
        }

        & a {
            display: inline-flex;
            width: 400px;
            text-decoration: none;
        }

        & a> :nth-child(1) {
            flex-basis: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            font-family: $main_font;
            font-size: 1.25rem;
            color: $color2;
            text-align: center;
            font-weight: 700;
        }

        & a> :nth-child(2) {
            flex-basis: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            border-left: 1px solid $color4;
        }

        & a> :nth-child(2)>svg {
            fill: #000000;
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}