//fonts
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:wght@300;400;700&display=swap");

$main_font: "Raleway",
sans-serif;
$logo_font: 'Pacifico',
cursive;
//font sizes

//colors
$color12: #70bfff;
$color1: #ffffff;
$color4: #9d9d9d;
$color3: #00c4c4;
$color6: #b9b9b9;
$color13: #96b92c;
$color11: #ffe92f;
$color9: #355b82;
$color5: #fbfbf7;
$color14: #b07cf7;
$color2: #262626;
$color10: #5585a2;
$color8: #f72b3b;
$color7: #ff6033;