// fonts
@import url("https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap");

$main_font: "MuseoModerno", cursive;

//font-size
$title_size: 24px;
$subtitle_size: 14px;
$select_size: 14px;
$button_size: 14px;

//colors
$background_color: #c5c5c8;
$card_background_color: #111a28;
$card_button_background_color: #4c525a;
$card_select_background_color: #111a28;

$card_title_color: #e1e1e1;
$card_text_color: #e1e1e1;
$card_select_color: #e1e1e1;
$card_button_color: #e1e1e1;

$card_button_border_color: #ffffff;
$card_select_border_color: #ffffff;
