$style: "header";

.#{$style} {
  width: 100%;
  min-height: 100vh;
  background-image: url(../img/hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  // margin-bottom: 146px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    &-logo {
      margin-bottom: 96px;
    }

    &-title {
      font-family: $main_font;
      font-size: $main_title_size;
      font-weight: 700;
      text-transform: uppercase;
      color: $light_color;
      letter-spacing: 8.62px;
      text-align: center;
      margin-bottom: 53px;

      &-span {
        display: block;
      }
    }

    &-text {
      font-family: $main_font;
      font-size: $header_text_size;
      font-weight: 400;
      text-transform: uppercase;
      color: $light_color;
      letter-spacing: 0.9px;
      line-height: 29px;
      display: block;
      width: 579px;
      text-align: center;
      margin-bottom: 145px;
    }

    &-scroll {

      &-svg {
        width: 40px;
        height: 40px;
        fill: #ffffff;

        &:hover {
          fill: $dark_color;
        }
      }
    }
  }
}