// fonts
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

$main_font: "Lato", sans-serif;

// font-sizes
$main_title_size: 54px;
$sections_title_size: 34px;
$subtitle_size: 20px;
$last_title_size: 30px;

$header_text_size: 15px;
$about_text_size: 16px;
$services_text_size: 16px;
$what_we_do_text_size: 14px;
$contact_text_size: 16px;
$bt_text_size: 16px;
$footer_text_size: 14px;

// colors
$light_color: #ffffff;
$dark_color: #3c3c3c;
$bt_color: #3c3c3c;
