// fonts
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway:wght@400;500&family=Roboto:wght@400;700&display=swap");

$title_font: "Roboto", sans-serif;
$main_font: "Raleway", sans-serif;
$bt_font: "Open Sans", sans-serif;

//font sizes
$subtitle_size: 18px;
$title_size: 60px;
$name_size: 36px;
$position_size: 24px;
$text_size: 14px;
$bt_size: 14px;

//colors
$color1: #ffcc00;
$color2: #cccccc;
$color3: #666666;
$color4: #898f8f;
$color5: #333333;
