$style: "navigation";
.#{$style} {
  display: flex;
  margin-bottom: 31px;
  &__link {
    font-family: $main_font;
    font-size: $top_link_size;
    color: $unactiv_link_color;
    font-weight: 700;
    text-decoration: none;
    height: 25px;
    &:hover {
      color: $activ_link_color;
      border-bottom: 2px solid $text_decoration_color;
    }
    &:focus {
      color: $activ_link_color;
      border-bottom: 2px solid $text_decoration_color;
    }
    &--first {
      margin-right: 26px;
    }
  }
}
