// colors
$background_color: #e5eeee;
$laben_color: #fbf6e4;
$activ_link_color: #fbf6e4;
$unactiv_link_color: #e1c2f1;
$bt_color: #23ae92;
$bottom_link_color: #b9b9cc;
$text_decoration_color: rgb(230, 106, 100);

//sizes
$top_link_size: 18px;
$laben_size: 16px;
$checkbox_size: 13px;
$bt_size: 18px;
$bottom_link_size: 13px;

// fonts
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");
$main_font: "Quicksand", sans-serif;
